.list-header{
    background-image: url("images/sunset.jpg");
    background-size: cover;
    height: 500px;
    width: 100%;
}

.list-header h1{
     text-align: center;
    line-height: 500px;
}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 0 0 0 20px;
    width:100%;
    position: fixed;
    z-index: 10;
    height: 50px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}
